<div class="sheet-container">
    <SheetSidebar Investigator="@Investigator" StatsEditMode="@_statsEditMode" />

    <div class="sheet-main">
        <nav class="tab-rail" aria-label="Character sheet sections">
            @foreach (var tab in Tabs)
            {
                <button class="tab-button @(_activeTab == tab ? "active" : "")"
                        @onclick="() => _activeTab = tab"
                        aria-selected="@(_activeTab == tab)">
                    @tab
                </button>
            }
        </nav>

        <div class="tab-content" role="tabpanel">
            @switch (_activeTab)
            {
                case "Stats":
                    <StatsTab Investigator="@Investigator"
                              EditMode="@_statsEditMode"
                              OnToggleEditMode="() => _statsEditMode = !_statsEditMode" />
                    break;
                case "Skills":
                    <SkillsTab Investigator="@Investigator" />
                    break;
                case "Combat":
                    <CombatTab Investigator="@Investigator" />
                    break;
                case "Items":
                    <ItemsTab Investigator="@Investigator" />
                    break;
                case "Wealth":
                    <WealthTab Investigator="@Investigator" />
                    break;
                case "Info":
                    <InfoTab Investigator="@Investigator" />
                    break;
            }
        </div>
    </div>
</div>
